@page "{id}"
@model TeknikServis.Web.Pages.Roles.ManageModel
@{
    ViewData["Title"] = "Yetkileri Düzenle";
}

<div class="row align-items-center mb-4">
    <div class="col">
        <h2 class="page-title"><i class="ti ti-settings me-2"></i> @Model.RoleName - Yetki Paneli</h2>
    </div>
</div>

<form method="post">
    <div class="card shadow-sm mx-auto" style="max-width: 800px;">
        <div class="card-header bg-dark text-white">
            <h3 class="card-title m-0">Bu role hangi işlemleri yapma izni veriyorsunuz?</h3>
        </div>
        <div class="card-body">
            <div class="row">
                @for (int i = 0; i < Model.Permissions.Count; i++)
                {
                    <div class="col-md-6 mb-3">
                        <label class="form-check form-switch cursor-pointer">
                            <input type="hidden" asp-for="Permissions[i].PermissionName" />

                            <input class="form-check-input border-primary" type="checkbox" asp-for="Permissions[i].IsSelected">
                            <span class="form-check-label fs-3 fw-bold ms-2">@Model.Permissions[i].PermissionName</span>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="card-footer text-end bg-light">
            <a asp-page="./Index" class="btn btn-link link-secondary">İptal</a>
            <button type="submit" class="btn btn-success btn-lg">
                <i class="ti ti-device-floppy me-2"></i> Yetkileri Kaydet
            </button>
        </div>
    </div>
</form>